.tagButton {
	background-color: #008CBA; /* Green */
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	color: white;
	font-size: 20px;
	border: 4px #0000ff;
 	padding: 20px;
	margin: 4px 2px;
 	cursor: pointer;
 	border: 2px solid;
}

.tagButton:hover {
	background-color: white; 
  	color: black; 
 	border: 2px solid #008CBA;
}

.thumbnail {
	display: inline-block;
	margin: 16px 16px;
}

.center {
  	margin: auto;
  	text-align: center;
}

.picture-container {
	display: inline-block;
	margin: 16px 16px;
	text-align: center;
}